* {
  box-sizing: border-box;
}

html {
  background: #0cb0b1;
  text-align: center;
}

.hidden {
  display: none !important;
}

.sizeGuide {
  display: inline-block;
  margin: 50px auto;
  padding: 40px 30px 100px;
  font-family: Arial;
  background: #f4f4f4;
  border-radius: 3px;
  box-shadow: 0px 5px 10px #a1a1a1;
}

.sizeGuide:before, .sizeGuide:after {
  content: ' ';
  display: table;
}

.sizeGuide:after {
  clear: both;
}

.sizeGuide header {
  display: block;
  position: relative;
  color: #777;
  z-index: 10;
}

.sizeGuide header div {
  float: left;
  position: relative;
  width: 100px;
  padding: 0px 0 50px;
  text-align: center;
}

.sizeGuide header div span {
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  transition: color .3s;
}

.sizeGuide header div .prev,
.sizeGuide header div .next {
  font-family: "FontAwesome";
  position: absolute;
  left: 50%;
  padding: 10px;
  margin-left: -22px;
  width: auto;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: color .2s;
}

.sizeGuide header div .prev:not(.disabled):hover,
.sizeGuide header div .next:not(.disabled):hover {
  color: #0cb0b1;
}

.sizeGuide header div .prev.disabled,
.sizeGuide header div .next.disabled {
  opacity: 0.15;
}

.sizeGuide header div .prev {
  bottom: 5px;
}

.sizeGuide header div .prev:before {
  content: "\f077";
}

.sizeGuide header div .next {
  bottom: -75px;
}

.sizeGuide header div .next:before {
  content: "\f078";
}

.sizeGuide .content {
  clear: both;
}

.sizeGuide .content:before, .sizeGuide .content:after {
  content: ' ';
  display: table;
}

.sizeGuide .content:after {
  clear: both;
}

.sizeGuide .content [data-filter] {
  display: block;
  float: left;
  position: relative;
  width: 100px;
  min-height: 1px;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
}

.sizeGuide .content [data-filter] [data-country] {
  opacity: 0;
}

.sizeGuide .content [data-filter] [data-country].selected {
  opacity: 1;
}

.sizeGuide .content [data-filter] [data-id] {
  display: block;
  position: absolute;
  width: 100%;
  opacity: 0;
  top: 0;
  transition: all 0.3s;
}

.sizeGuide .content [data-filter] [data-id].selected {
  opacity: 1;
}

.sizeGuide .content [data-filter] [data-id].selected-prev, .sizeGuide .content [data-filter] [data-id].selected-prev-prev, .sizeGuide .content [data-filter] [data-id].selected-next, .sizeGuide .content [data-filter] [data-id].selected-next-next {
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
}

.sizeGuide .content [data-filter] [data-id].selected-prev, .sizeGuide .content [data-filter] [data-id].selected-next {
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 0.15;
}

.sizeGuide .content [data-filter] [data-id].selected-prev {
  top: -18px;
}

.sizeGuide .content [data-filter] [data-id].selected-next {
  top: 18px;
}

.sizeGuide .content [data-filter] [data-id].selected-prev-prev {
  top: -24px;
}

.sizeGuide .content [data-filter] [data-id].selected-next-next {
  top: 24px;
}

.sizeGuide .content *[data-country] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 1px;
}

.options {
  width: 664px;
  display: block;
  text-align: left;
  margin: 50px auto;
  padding: 40px 30px;
  font-family: Arial;
  background: #f4f4f4;
  border-radius: 3px;
  box-shadow: 0px 5px 10px #a1a1a1;
}

.options:before, .options:after {
  content: ' ';
  display: table;
}

.options:after {
  clear: both;
}

.options h2 {
  text-transform: uppercase;
  color: #0cb0b1;
  margin: 0 0 5px;
  padding: 0;
  line-height: 20px;
  font-weight: 700;
}

.options p.description {
  font-size: 12px;
  color: #aaa;
  font-weight: 700;
  margin: 0 0 30px;
  text-transform: uppercase;
}

.buttonBox {
  display: inline-block;
  text-align: center;
}

.buttonBox .label {
  display: block;
  margin-bottom: 10px;
  font-family: Arial;
  color: #888;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
}

.switch {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 34px;
}

.switch .slider {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #ccc;
  transition: .4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  border-radius: 50%;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

.switch input {
  display: none;
}

.switch input:checked + .slider {
  background-color: #2196F3;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/*# sourceMappingURL=maps/main.css.map */
